.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 2px #000000;
    width: 300px;
    border-radius: 12px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(52, 52, 52);
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    transition: all .1s ;
}

.cards:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    background-color: rgba(255, 255, 255, 0.91);  
}

.cards img {
    width: 100%;
    height:100%;
    border-radius: 10px 10px 0px 0px;
}

.title {
    text-align: center;
    margin: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 2px    #353535;
}

.pDescription {
    text-align: start;
    padding: 0px 0px 0px 8px;
    color: rgb(49, 49, 49);
    font-size: large;
}

.Alive{
    top: 0;
    right:0;
    position: absolute;
    margin: 6px;
    background-color: rgb(153, 255, 0);
    color: rgb(37, 37, 37);
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    font-size: large;
}
.Dead{
    top: 0;
    right:0;
    position: absolute;
    margin: 6px;
    background-color: rgb(248, 1, 1);
    color: rgb(37, 37, 37);
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    font-size: large;
}
.unknown{
    top: 0;
    right:0;
    position: absolute;
    margin: 6px;
    background-color: rgb(255, 187, 0);
    color: rgb(37, 37, 37);
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    font-size: large;
}

.location {
    color: black;
    font-weight: 800;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.botonCard {
    padding: 10px;
    margin: 10px;
    border: none;
    background: rgb(0, 183, 211);
    color: rgb(247, 240, 227);
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.botonCard:hover {
    cursor: pointer;
    background-color: rgb(0, 216, 216);
}