html {
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    
}

.contenedor {
    display: flex;
    flex-direction: column;
    background-color:   #3A3845;
    width: 100%;
}

.titleContainer {
    font-size: 50px;
    padding-top: 2rem;
    color: aliceblue;
}

.titleContainer span {
    color:rgb(7, 234, 250);
}


.container-all {
    display: flex;
    width: 100%;
}


.container-cards {
    display: flex;
    flex-wrap: wrap;
} 



