
.container-details {
    height: 100vh;
    background: url("../assets/rickandmortycontainer.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    width: 18rem;
}

.pDetails span {
    font-weight: 300;
    display: block;
    font-size: 20px;
    text-align: center;
    color: rgb(154, 154, 154);
}

.pDetails {
    font-size: 20px;
    font-weight: 800;
    margin: 10px;
    text-align: center;
}

