/* .container-filters {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
} */

/* .title-filters {
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}

.title-clear {
    color: rgb(3, 119, 242);
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
} */
