
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../assets/rickandmorty.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}


.infoLanding {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 10px  black;
}

.landingTitle {
    padding: 20px;
    font-size: 80px;
    color: rgb(245, 241, 234);
    
}

.landingTitle span {
    color: aqua;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoLanding p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin: 0px auto 0px auto;
    padding: 20px;
    letter-spacing: 1px;
}

.boton {
    font-weight: 600;
    font-size: 20px;
    color: rgb(231, 232, 233);
    padding: 15px;
    margin: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgb(0, 4, 11);
    border-radius: 5px;
    background: rgb(0, 210, 210);
    border: 1px solid rgba(60, 60, 237, 0);
}

.boton:hover {
    cursor: pointer;
    transition: all 0.8ms;
    background: rgb(237, 237, 238);
    color:  rgb(0, 208, 208) ;
    border: 1px solid rgb(4, 210, 210);
}

@media screen and (max-width: 750px) {
    .infoLanding {
        padding: 1rem 0;
        height: auto;
    }

    .landingTitle {
        padding: 5px;
        font-size: 30px;
        color: rgb(245, 241, 234);
    }

    .infoLanding p {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .boton {
        font-size: 20px;
        padding: 10px;
    }
}